* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

/* Custom styles */
.carousel {
    width: 600px;
    height: 400px;
    margin: 200px auto;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}

.nav_btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    background-color: antiquewhite;
    color: #000;
    margin: 0;
    text-align: center;
    line-height: 400px;
    z-index: 10;
    cursor: pointer;
}

.nav_btn.btn_left {
    left: 0;
}

.nav_btn.btn_right {
    right: 0;
}

.img_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: .5s;
}

.img_wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.img_wrapper.image_left {
    transform: translate(-100%, 0);
}

.img_wrapper.image_right {
    transform: translate(100%, 0);
}

.img_wrapper.image_left.image_active,
.img_wrapper.image_right.image_active{
    transform: translate(0, 0);
}

/* ======================== */